<html lang="en" ng-app="profile">
   <head>
      <meta charset="UTF-8">
      <base href="/">
      <title><%= profileName%></title>
      <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/profile.css">
      <script src="libs/angular/angular.min.js"></script> 
      <script src="libs/angular-route/angular-route.min.js"></script>
      <script src="js/profile.js"></script>
      <script src="js/profileController.js"></script>
      <script> 
         window.profileName = "<%= profileName %>"; 
         window.profileImageURL ="<%= profileImageURL %>";
      </script>
   </head>
   <body ng-controller="profileController">
      <div class="container">
         <nav class="navbar navbar-inverse">
            <div class="navbar-header"> <%- include navbar.ejs %></div>
         </nav>
         <div class="well">
            <div class="row">
               <div class="col-md-2">
                  <img id="profileImage" ng-src="{{profileImageURL}}">
               </div>
               <div class="col-md-2">
                  <h3><%= profileName%></h3>
                  <h6>Joined: <%= joinDate%></h6>
                  <% if(bio) { %>
                  <h6>Bio: <%= bio %></h6>
                  <% } %>
               </div>
               <div class = "col-md-10">
                  <form role="form" ng-submit="postMessage()">
                     <div class="form-group">
                        <div class="span2">
                           <input type="text" ng-model="message"></input>
                           <input type="submit" class="btn btn-default" value="Post!" />
                        </div>
                     </div>
                  </form>
                  <ul class="message-list">
                     <li ng-repeat="message in userMessages" class="message">
                        <a ng-href="/{{message.author}}"><img class="message-image" ng-src="{{message.profileImageURL}}"/></a>
                        <a ng-href="/{{message.author}}" class="author">{{message.author}}</a>
                        <div class="content">{{message.message}}</div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>